/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.cover_image{
  text-align: center;
}
.cover_image img{
  width: 70%;
  height: 70%;
}
.cover_body{
  margin-top: 50px;
  min-height: 960px;
}
.cover_body .list_user{
  margin-top: 20px;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  color: #000;
  text-align: center;
}
